@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* iPad Frame */
main{
    margin:20px auto;
    border:1px black solid;
    height:1024px;
    width:768px;
  }
  
  header{
    text-align:center;
    padding:20px;
    background: #D8D8D8;
  }
  
  section{
    margin:32px auto;
    width:600px;
  }
  
  .button{
    text-align:center;
    margin-bottom:10px;
    padding:20px;
    border-radius:4px;
    background: #9B9B9B;
  }
  
  a:link, a:visited{
    text-decoration: none;
    color: white;
  }